/* Global */
@import url("./global/boilerplate.css");
@import url("./global/fonts.css");
@import url("./global/buttons.css");
@import url("./global/decorations.css");

/* components */
@import url("./components/navigation.css");
@import url("./components/hero-section.css");
@import url("./components/vision-mision.css");
@import url("./components/why-us.css");
@import url("./components/major.css");
@import url("./components/faq.css");
@import url("./components/footer.css");
