/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/inter-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/inter-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* fonts setup */
  --Poppins: "Poppins", sans-serif;
  --Inter: "Inter", sans-serif;

  /* Font size */
  /* --fn-inter-h1: clamp(2.805rem, 1.785rem + 5.1vw, 5.61rem); */
  --fn-inter-h1: clamp(2.5rem, 1.585rem + 2.5vw, 5.61rem);
  --fn-inter-h2: clamp(2.104rem, 1.339rem + 2.83vw, 4.209rem);
  --fn-inter-h4: clamp(1.185rem, 0.754rem + 2.15vw, 2.369rem);
  --fn-inter-h5: clamp(0.888rem, 0.565rem + 1.62vw, 1.777rem);
  --fn-inter-h6: clamp(0.999rem, 0.424rem + 1.31vw, 3.333rem);
  --fn-poppins-p: clamp(0.8rem, 0.76rem + 1.2vw, 1.25rem);
  --fn-poppins-sml: clamp(0.7rem, 0.5rem + 1vw, 1.15rem);
  /* Line height */
  --lh-poppins-p: 2;
  /* Thickness */
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
}
