header {
  max-width: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

nav {
  background-color: var(--blue-shark-950);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-16);
  color: var(--white-50);
  box-shadow: var(--shadow-3);
}

nav .profile-name {
  width: clamp(12rem, 11rem + 3vw, 22rem);
  display: flex;
  align-items: center;
  cursor: default;
}

.profile-name img {
  width: clamp(2rem, 3vw + 1rem, 3rem);
  height: clamp(2.8rem, 4vw + 0.8rem, 4.8rem);
}

/* The name of Institute */
.profile-name h6 {
  display: none;
}

/* Navigation links */
nav ul {
  display: flex;
  gap: 2rem;
}

nav ul li a {
  display: block;
  position: relative;
  padding-bottom: var(--space-4);
  font-family: var(--Poppins);
}

nav ul li a:hover {
  color: var(--screaming-green-300);
  transition: all 0.3s ease;
}

nav ul li a::before {
  content: "";
  width: 0%;
  height: 2px;
  border-radius: var(--br-10);
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--screaming-green-300);
  transition: all 0.3s ease;
}

nav ul li a:hover::before {
  width: 100%;
  display: block;
  transition: all 0.3s ease;
}

nav ul li a.active::before {
  width: 100%;
  display: block;
}
/* End of navbar link */

/* This for hamburger button */
.menubar {
  fill: var(--white-50);
  border: 2px solid transparent;
  border-radius: var(--br-10);
  cursor: pointer;
}

.menubar:active,
.menubar.active {
  border: 2px solid var(--white-50);
  padding: 0.2rem;
}

/* Navbar in mobile */
@media (max-width: 48rem) {
  nav ul {
    background-color: var(--blue-shark-950);
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
    transform: translateX(100%);
    transition: all 0.5s ease;
    opacity: 0;
    z-index: -1;
  }

  nav ul.slide {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* Navbar in Desktop */
@media (min-width: 48rem) {
  .header-wrapper {
    /*Placeholder, height is fixed, prevent small jerk from navbar transition*/
    height: 4.375rem;
  }

  nav {
    position: relative;
    width: 80%;
    margin: 0 auto;
    box-shadow: var(--shadow-3);
    border-end-end-radius: 2rem;
    border-end-start-radius: 2rem;
    transition: all 0.3s ease;
  }

  nav .menubar {
    display: none;
  }

  nav .profile-name {
    width: 40%;
  }

  /* Make name of university it appear in desktop */
  .profile-name h6 {
    background-image: linear-gradient(
      to right,
      var(--screaming-green-400),
      var(--blue-shark-400)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding-left: var(--space-16);
    font-weight: var(--fw-bold);
    font-family: var(--Inter);
    font-size: var(--fn-inter-h6);
    display: block;
  }

  nav.scrolled {
    position: fixed;
    width: 100%;
    padding-inline: var(--space-40);
    box-shadow: var(--shadow-3);
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    transform: translateY(-100%);
    animation: slideDown 1s ease forwards;
    margin: 0;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
}
/* End of Navbar in Desktop */
